@media only screen and (max-width: 600px) {
    header{
      width: auto;
      display: flex;
      flex-direction: row;
    }
  
    header > a > img {
      height:50px;
      width:50px;
    }
  
    body{
      display:flex;
      flex-direction: column;
      width: 100%;
      margin: 0px;
    }

    .flex1 {
        all:initial;
        background: #155890;
    }
  
    .portfolio-anchor {
        display: none;
    }

    .logo {
        margin-top: 0px;
        filter: drop-shadow(0px 2px 0px crimson);
    }

    .logo-text {
        display: none;
    }

    .nav{
      flex-direction:row;
    }
  
    .tmpl-post > :is(h1, h2, h3, h4) {
      text-align: center;
    }
  
    .tmpl-post > p {
      margin-bottom: 20px;
    }
  
    .tmpl-post > p li main h2 {
      max-width: 90vw;
    }
  
    img {
      max-width:35vw;
    }
  
    .tmpl-gallery {
      width: 50vh;
    }
  
    .tmpl-post {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width:90vw;
    }
  
    .sidebyside {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }
  
    footer {
      display: flex;
      flex-direction: row;
      FLEX: NONE;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .social-link>a>i {
      margin: 9px;
      pointer-events: none;
      font-size: 20px;
    }
  
    .social-link>a {
      font-size: 0;
    }
  }