@media only screen and (max-width: 900px) {
  header {
    width: auto;
    display: flex;
    flex-direction: row;
  }

  header>a>img {
    height: 50px;
    width: 50px;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }

  .flex1 {
    all: initial;
    background: #155890;
  }

  .portfolio-anchor {
    display: none;
  }

  .logo {
    margin-top: 0px;
    filter: drop-shadow(0px 2px 0px crimson);
  }

  .logo-text {
    display: none;
  }

  .nav {
    flex-direction: row;
    margin: auto;
  }

  .tmpl-gallery {
    width: 50vh;
  }

  .tmpl-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    padding: 0.5rem;
    margin: auto;
  }

  .tmpl-post h1:first-child {
    margin-bottom: 1rem;
  }
  .tmpl-post > time {
    margin: 2em;
   }

  .fig-img > a > img {
    max-width: 100%;
    max-height: 600px;
  }

  .sidebyside {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    display: flex;
    flex-direction: row;
    FLEX: NONE;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-link>a>i {
    margin: 9px;
    pointer-events: none;
    font-size: 20px;
  }

  .social-link>a {
    font-size: 0;
  }
}