body {
  display:flex;
  flex-direction: row;
  font-family: Arial,Tahoma, Helvetica, "Calibre", -apple-system, sans-serif, system-ui;
  color: var(--darkgray);
  background-color: var(--white);
  margin: 0em 0em 0em 3em;
  justify-content: center;
}

header {
	display:flex;
  flex-direction: column;
}

header > img {
  align-self: center;
}

header > ul > li {
  margin: 5px 0;
}

.home {
  align-self: center;
}

.logo {
  margin-top: 1em;
  display: block;
  max-height: 50%;
  max-width: 50%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 0 #0d163b)
}

.logo-text {
  text-align: center;
  color: white;
  font-family: system-ui;
}


.flex1 {
  background: #155890;
  min-width: 250px;
  max-width: 16em;
  min-height: 1200px;
}

.nav {
	display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav-item > i {
  padding: 5px 10px 5px 10px;
  color: white;
}

.nav-item > a {
  color: white;
}

.postlist-item {
  background-color: white;
  filter: drop-shadow(0px 3px 3px #d6d6d6);
  margin: 20px 10px 20px 10px;
  padding: 10px;
}

.postlist-item > a {
  text-decoration: none;
}

.postlist-item > a:first-child {
  font-size: 20px;
}

.postlist-item:before {
  display: none;
}

.tmpl-post {

}

.tmpl-post img {
  max-height: 400px;
  max-width: 90%;
  filter: drop-shadow(6px 6px 3px rgb(132, 163, 189));
}

.tmpl-post > :is(li, p) {
  line-height: 1.45;
  margin: 1em;
  text-align: justify;
  font-size: 1.3em;
}

.tmpl-post > :is(h1, h2, h3, h4) {
  text-align: center;
  margin: 3rem;
}

.tmpl-post > :is(h2, h3, h4) {
  text-align: center;
  margin: 3rem;
}

code {
  color: crimson;
  background-color: cornsilk;
  outline: 1px;
  outline-width: 1px;
}


.tmpl-gallery {
  width: 100vh;
}

.pswp-gallery {
  columns:300px;
  column-gap: 20px;
}

#my-gallery a {
  break-inside: avoid-column;
  margin-bottom: 1rem;
  filter: drop-shadow(15px 10px 0px #3878d1);
  border-radius: 5px;
}

#my-gallery > a > img { /* masonry item width */
  max-width: 300px;
  border-radius: 15px;
  margin: 10px;
}

/* Social */
footer {
  min-width: 145px; /* prevent discord link overflow */
  margin: 1em;
}

.social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:white;
}

.social-link>a>i {
  padding: 5px 10px 5px 10px;
  color: white;
}

.social-link > a {
  color: white;
}

/* figures */


.fig-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.fig-img > a {
  text-align: center;
}

figcaption {
  display: table-caption;
  caption-side:bottom;
  font-size: 1.1rem;
  font-family: Calibri, Trebuchet;
  text-align: center;
  margin-top: 16px;
  background-color: aliceblue;
}

/* Sidebyside figures */

.sidebyside {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 2rem 0 2rem 0;
  justify-content: center;
}

.sidebyside > figure {
  display: flex;
  flex: 1 1 0;
  margin: 0em 1vw 0em 1vw;
}

/* Portfolio */

.portfolio-anchor {
  text-align: center;
  filter: brightness(100%);
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-bg {
  background-image: url("../img200/portfolio/crate_chroma.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  filter: brightness(50%);
  overflow: hidden;
  min-height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.portfolio-bg:hover {
  filter: brightness(130%);
}

.portfolio-text {
  position: relative;
  top: -9em;
  margin-bottom: -6em;
  pointer-events: none;
}

.portfolio-text p {
  font-size: 2em;
  color:white;
  font-weight: 900;
  margin:0px;
  filter: drop-shadow(0px 5px 0px #1f1f1f);
}