
html,
body {
  display:flex;
  flex-direction: row;
  justify-content:center;
  padding: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}

header {
	display:flex;
	flex-direction: column;
	width: auto;
}

header > img {
  align-self: center;
}

header > ul > li {
  margin: 5px 0;
}

.home {
	align-self: center;
}

.nav {
	display:flex;
	flex-direction: column;
	align-items: center;
}

p:last-child {
  margin-bottom: 0;
}

.tmpl-post {
  max-width: 45vw;
}

.tmpl-post img {
  max-height: 400px;
  max-width: min(30vw, 300px);
}
p, .tmpl-post, li, img {
  /*width:100%; */
  margin:auto;
}

p, .tmpl-post, li {
  line-height: 1.45;
}

.tmpl-post > :is(h1, h2, h3, h4) {
  text-align: center;
}

.tmpl-post > p, .tmpl-post > li, .tmpl-post > main, .tmpl-post > h2 {
  max-width: 90vw ;
}

.sidebyside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 40vw;
}

code {
  color: crimson;
  background-color: cornsilk;
  outline: 1px;
  outline-width: 1px;
}

@media only screen and (max-width: 600px) {
  header{
      width: auto;
      display: flex;
      flex-direction: row;
  }

  header > a > img {
    height:50px;
    width:50px;
  }

  header > ul{
    margin: 5% 5% 5% 0%;
  }

  body{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
  }
  .nav{
    flex-direction:row;
  }

  .tmpl-post > :is(h1, h2, h3, h4) {
    text-align: center;
  }

  .tmpl-post > p {
    margin-bottom: 20px;
  }

  .tmpl-post > p li main h2 {
    max-width: 90vw;
  }

  img {
    max-width:35vw;
  }

  .tmpl-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:90vw;
  }
  
  .sidebyside {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}


