body {
  display:flex;
  flex-direction: row;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
  margin: 0em 3em 0em 3em;
  justify-content: center;
}

header {
	display:flex;
  flex-direction: column;
}

header > img {
  align-self: center;
}

header > ul > li {
  margin: 5px 0;
}

footer {
  min-width: 145px; /* prevent discord link overflow */
}

.home {
  align-self: center;
}

.nav {
	display:flex;
  flex-direction: column;
  align-items: center;
}

.nav-item > i {
  padding: 5px 10px 5px 10px;
}

p:last-child {
  margin-bottom: 0;
}

.tmpl-post {
  max-width: 45vw;
}

.tmpl-post img {
  max-height: 400px;
  max-width: min(30vw, 300px);
}

p,
.tmpl-post,
li{
  margin: 1em;
}


p, .tmpl-post, li {
  line-height: 1.45;
}

.tmpl-post > :is(h1, h2, h3, h4) {
  text-align: center;
}

.tmpl-post > p, .tmpl-post > li, .tmpl-post > main, .tmpl-post > h2 {
  max-width: 90vw ;
}

.sidebyside {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}

.sidebyside > a > img {
  margin: 0em 1em 0em 1em;
}

code {
  color: crimson;
  background-color: cornsilk;
  outline: 1px;
  outline-width: 1px;
}


.tmpl-gallery {
  width: 100vh;
}

.pswp-gallery {
  columns:300px;
  column-gap: 20px;
}

#my-gallery a {
  break-inside: avoid-column;
  margin-bottom: 1rem;
  filter: drop-shadow(15px 10px 0px #3878d1);
  border-radius: 5px;
}

#my-gallery > a > img { /* masonry item width */
  max-width: 300px;
  border-radius: 15px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  header{
    width: auto;
    display: flex;
    flex-direction: row;
  }

  header > a > img {
    height:50px;
    width:50px;
  }

  header > ul{
    margin: 5% 5% 5% 0%;
  }

  body{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    align-items: center;
  }
  .nav{
    flex-direction:row;
  }

  .tmpl-post > :is(h1, h2, h3, h4) {
    text-align: center;
  }

  .tmpl-post > p {
    margin-bottom: 20px;
  }

  .tmpl-post > p li main h2 {
    max-width: 90vw;
  }

  img {
    max-width:35vw;
  }

  .tmpl-gallery {
    width: 50vh;
  }

  .tmpl-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:90vw;
  }

  .sidebyside {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }

  footer {
    display: flex;
    flex-direction: row;
    FLEX: NONE;
    flex-wrap: wrap;
    padding-right: 35px;
  }

  .social-link>a>i {
    margin: 9px;
    pointer-events: none;
    font-size: 20px;
  }

  .social-link>a {
    font-size: 0;
  }
}

.social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-link>a>i {
  padding: 5px 10px 5px 10px;
}