<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/post.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fontawesome.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/brands.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/solid.min.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="{{ '/photoswipe/dist/photoswipe.css' | url }}" media="print" onload="this.media='all'">
    <script data-goatcounter="https://kfishvan.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    <div class="flex1">
    <header>

      <a href="{{ '/' | url }}" class="home logo">
      <img src="/img/logo.png" alt="Why hire an artist when I can make my own logo?" width="100" height="100">
      </a>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"> 
          <i class="{{entry.iconclass}}"></i>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>

    </header>
    <footer>
      <div class="social-link">
        <a href="/feed/feed.xml" target="_blank">
          <i class="fa-solid fa-rss"></i>
          RSS feed
        </a>
      </div>
      <div class="social-link">
        <a href="https://www.twitter.com/kolloom1" target="_blank">
          <i class="fa-brands fa-twitter"></i>
          Twitter
        </a>
      </div>
      <div class="social-link">
        <a href="javascript:void(0);">
          <i class="fa-brands fa-discord"></i>kolloom#4564
        </a>
      </div>
      <div class="social-link">
        <a href="mailto: fivshme@outlook.com" target="_blank">
          <i class="fa-solid fa-envelope"></i>eMail
        </a>
      </div>
      <div class="social-link">
        <p>© 2022 JBY</p>
      </div>
    </footer>
    </header>
    </div>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      

      {{ content | safe }}
    </main>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
