---
layout: layouts/base.njk
templateClass: tmpl-gallery
---

<script type="module">
import PhotoSwipeLightbox from "/photoswipe/lightbox";
import "/photoswipe/style.css";

const lightbox = new PhotoSwipeLightbox({
  gallery: "#my-gallery",
  children: "a",
  pswpModule: () => import("/photoswipe")
});

lightbox.init();

</script>

{{ content | safe }}



